on: push

jobs:
  npm-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: npm install
    - run: npm run build
    - name: 部署
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        github_token: gh-pages
        publish_dir: dist