on: push

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - run: pwd
    - run: echo "Hello World"
    - run: ls
  job2:
    runs-on: windows-latest
    steps:
    - run: node --version
    - run: npm --version